# NETFLIX DATA ANALYSIS

In [ ]:
#importing datasets 
import pandas as pd
data = pd.read_csv("netflix_dataset.csv")

In [6]:
data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [7]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [8]:
data.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [9]:
data.shape

(7787, 12)

In [10]:
data.size

93444

In [11]:
data.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [12]:
data.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [14]:
data[data.duplicated()]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [15]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [16]:
data.shape

(7787, 12)

In [17]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
7782    False
7783    False
7784    False
7785    False
7786    False
Length: 7787, dtype: bool

In [18]:
data.drop_duplicates(inplace = True)

In [19]:
data[data.duplicated()]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [20]:
data.shape

(7787, 12)

In [21]:
#Checking if there is any null value 
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [22]:
data.isnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,False,False,False,False,False,False,False,False,False,False,False,False
7783,False,False,False,False,False,False,False,False,False,False,False,False
7784,False,False,False,True,False,True,False,False,False,False,False,False
7785,False,False,False,True,False,False,False,False,False,False,False,False
7786,False,False,False,False,True,False,False,False,False,False,False,False

In [23]:
data.isnull().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

In [24]:
import seaborn as sns

In [25]:
sns.heatmap(data.isnull())

In [26]:
#Finding the show_id and director of the show never have I ever
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [27]:
data[data['title'].isin(['The Good Place'])]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6405,s6406,TV Show,The Good Place,NaN,"Kristen Bell, Ted Danson, William Jackson Harp...",United States,"September 26, 2020",2020,TV-14,4 Seasons,TV Comedies,"Due to an error, self-absorbed Eleanor Shellst..."

In [28]:
data[data['title'].str.contains('The Good Place')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6405,s6406,TV Show,The Good Place,NaN,"Kristen Bell, Ted Danson, William Jackson Harp...",United States,"September 26, 2020",2020,TV-14,4 Seasons,TV Comedies,"Due to an error, self-absorbed Eleanor Shellst..."

In [29]:
#Finding out the year in which the highest number of movies and TV shows were released
data.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [30]:
data['Date_N'] = pd.to_datetime(data['date_added'])

In [31]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017-11-16
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01

In [32]:
data.dtypes

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added              object
release_year             int64
rating                  object
duration                object
listed_in               object
description             object
Date_N          datetime64[ns]
dtype: object

In [33]:
data['Date_N'].dt.year.value_counts()

2019.0    2153
2020.0    2009
2018.0    1685
2017.0    1225
2016.0     443
2021.0     117
2015.0      88
2014.0      25
2011.0      13
2013.0      11
2012.0       3
2008.0       2
2009.0       2
2010.0       1
Name: Date_N, dtype: int64

In [34]:
data['Date_N'].dt.year.value_counts().plot(kind='bar')

In [35]:
#Show all the movies released in the year 2019
data.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23

In [36]:
data['release_year']=data['Date_N'].dt.year

In [37]:
data.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020.0,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016.0,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23

In [38]:
data[(data['type'] == 'Movie') & (data['release_year']== 2019)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N
7,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",2019.0,R,119 min,Dramas,After one of his high school students attacks ...,2019-11-01
8,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,"April 1, 2019",2019.0,TV-14,118 min,"Horror Movies, International Movies","When a doctor goes missing, his psychiatrist w...",2019-04-01
13,s14,Movie,"2,215",Nottapon Boonprakob,Artiwara Kongmalai,Thailand,"March 1, 2019",2019.0,TV-MA,89 min,"Documentaries, International Movies, Sports Mo...",This intimate documentary follows rock star Ar...,2019-03-01
15,s16,Movie,Oct-01,Kunle Afolayan,"Sadiq Daba, David Bailie, Kayode Olaiya, Kehin...",Nigeria,"September 1, 2019",2019.0,TV-14,149 min,"Dramas, International Movies, Thrillers",Against the backdrop of Nigeria's looming inde...,2019-09-01
18,s19,Movie,15-Aug,Swapnaneel Jayakar,"Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...",India,"March 29, 2019",2019.0,TV-14,124 min,"Comedies, Dramas, Independent Movies","On India's Independence Day, a zany mishap in ...",2019-03-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7769,s7770,Movie,Zindagi Na Milegi Dobara,Zoya Akhtar,"Hrithik Roshan, Abhay Deol, Farhan Akhtar, Kat...",India,"December 15, 2019",2019.0,TV-14,154 min,"Comedies, Dramas, International Movies",Three friends on an adventurous road trip/bach...,2019-12-15
7773,s7774,Movie,Zoé: Panoramas,"Rodrigo Guardiola, Gabriel Cruz Rivas","Sergio Acosta, Jesús Báez, Ángel Mosqueda, Rod...",Mexico,"November 1, 2019",2019.0,TV-MA,89 min,"Documentaries, International Movies, Music & M...",This introspective rockumentary follows the ca...,2019-11-01
7774,s7775,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2019.0,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",2019-11-20
7778,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2019.0,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,2019-11-01
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2019.0,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,2019-03-02

In [39]:
#Showing only the titles of TV Shows that were released in South Korea only 
data[(data['type'] == 'TV Show') & (data['country']== 'South Korea')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N
51,s52,TV Show,100 Days My Prince,NaN,"Doh Kyung-soo, Nam Ji-hyun, Cho Seong-ha, Cho ...",South Korea,"December 7, 2020",2020.0,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Upon losing his memory, a crown prince encount...",2020-12-07
61,s62,TV Show,12 Years Promise,NaN,"So-yeon Lee, Namkoong Min, Tae-im Lee, So-hui ...",South Korea,"May 22, 2017",2017.0,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",A pregnant teen is forced by her family to lea...,2017-05-22
95,s96,TV Show,28 Moons,NaN,"Jin-sung Yang, Kyu-jong Kim, Tae-hwan Kang, Ge...",South Korea,"June 10, 2017",2017.0,TV-PG,1 Season,"International TV Shows, Korean TV Shows, Roman...",When her fiancé acts strangely upon receiving ...,2017-06-10
191,s192,TV Show,A Korean Odyssey,NaN,"Lee Seung-gi, Cha Seung-won, Oh Yeon-seo, Lee ...",South Korea,"March 5, 2019",2019.0,TV-MA,1 Season,"International TV Shows, Korean TV Shows, Roman...",A self-serving mythical creature's bid for inv...,2019-03-05
199,s200,TV Show,A Love So Beautiful,NaN,"Kim Yo-han, So Joo-yeon, Yeo Hoi-hyun, Jeong J...",South Korea,"December 28, 2020",2020.0,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...",Love is as tough as it is sweet for a lovestru...,2020-12-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7555,s7556,TV Show,What in the World Happened?,NaN,"Eun-mi Go, Jaehyo, Eun-Hyung Jo, Ha-yeon Kim, ...",South Korea,"April 28, 2017",2017.0,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",A happy secret romance between a 40-year-old w...,2017-04-28
7583,s7584,TV Show,When the Camellia Blooms,NaN,"Kong Hyo-jin, Kang Ha-neul, Kim Ji-seok, Oh Ju...",South Korea,"September 18, 2019",2019.0,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",Dongbaek is a single mother. When a potential ...,2019-09-18
7601,s7602,TV Show,White Nights,NaN,"Yo-Won Lee, Goo Jin, U-ie, Hae-in Jung, Gook-h...",South Korea,"February 14, 2017",2017.0,TV-14,1 Season,"International TV Shows, Korean TV Shows, TV Dr...","A coldhearted heiress, a man from her past and...",2017-02-14
7711,s7712,TV Show,YG Future Strategy Office,NaN,"Seungri, Yoo Byung Jae, Lee Jai-jin, Jinu, Son...",South Korea,"October 5, 2018",2018.0,TV-MA,1 Season,"International TV Shows, Korean TV Shows, TV Co...","K-pop star Seungri, BIGBANG's youngest member,...",2018-10-05
7720,s7721,TV Show,YooHoo to the Rescue,NaN,"Kira Buckland, Ryan Bartley, Bryce Papenbrook,...",South Korea,"March 25, 2020",2020.0,TV-Y,3 Seasons,"Kids' TV, Korean TV Shows","In a series of magical missions, quick-witted ...",2020-03-25

In [40]:
data[(data['type'] == 'TV Show') & (data['country']== 'South Korea')] ['title']

51               100 Days My Prince
61                 12 Years Promise
95                         28 Moons
191                A Korean Odyssey
199             A Love So Beautiful
                   ...
7555    What in the World Happened?
7583       When the Camellia Blooms
7601                   White Nights
7711      YG Future Strategy Office
7720           YooHoo to the Rescue
Name: title, Length: 147, dtype: object

In [41]:
#Showing top 20 directors , who gave highest number of TV Shows & Movies to Netflix
data['director'].value_counts().head(20)

Raúl Campos, Jan Suter    18
Marcus Raboy              16
Jay Karas                 14
Cathy Garcia-Molina       13
Youssef Chahine           12
Martin Scorsese           12
Jay Chapman               12
Steven Spielberg          10
David Dhawan               9
Ryan Polito                8
Robert Rodriguez           8
Kunle Afolayan             8
Hakan Algül                8
Shannon Hartman            8
Johnnie To                 8
Quentin Tarantino          8
Lance Bangs                8
Don Michael Paul           7
McG                        7
Justin G. Dyck             7
Name: director, dtype: int64

In [42]:
#Showing the data where category is Movie and type is comedies or country is United Kingdom
data[(data['type'] == 'Movie') & (data['listed_in']== 'Comedies')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N
33,s34,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017.0,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,2017-09-08
72,s73,Movie,17 Again,Burr Steers,"Zac Efron, Leslie Mann, Matthew Perry, Thomas ...",United States,"January 1, 2021",2021.0,PG-13,102 min,Comedies,"Nearing a midlife crisis, thirty-something Mik...",2021-01-01
84,s85,Movie,21 & Over,"Jon Lucas, Scott Moore","Miles Teller, Skylar Astin, Justin Chon, Sarah...",United States,"April 16, 2019",2019.0,R,93 min,Comedies,Jeff's straight-and-narrow life changes abrupt...,2019-04-16
148,s149,Movie,A Bad Moms Christmas,"Jon Lucas, Scott Moore","Mila Kunis, Kristen Bell, Kathryn Hahn, Susan ...","United States, China","February 14, 2020",2020.0,R,104 min,Comedies,"Stressed-out moms Amy, Carla and Kiki are back...",2020-02-14
174,s175,Movie,A Futile and Stupid Gesture,David Wain,"Will Forte, Domhnall Gleeson, Martin Mull, Joe...",United States,"January 26, 2018",2018.0,TV-MA,102 min,Comedies,"In a brief life full of triumph and failure, ""...",2018-01-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7339,s7340,Movie,Undercover Brother 2,Leslie Small,"Michael Jai White, Vince Swann, Barry Bostwick...",United States,"November 5, 2019",2019.0,R,85 min,Comedies,When a beloved secret agent falls deep into a ...,2019-11-05
7588,s7589,Movie,Where's the Money,Scott Zabielski,"Andrew Bachelor, Kat Graham, Mike Epps, Terry ...",United States,"January 22, 2018",2018.0,R,86 min,Comedies,"Hunting for a stash of stolen money, a sharp-w...",2018-01-22
7621,s7622,Movie,Wild Oats,Andy Tennant,"Shirley MacLaine, Jessica Lange, Billy Connoll...","Germany, United States","May 13, 2017",2017.0,PG-13,86 min,Comedies,"When insurance accidentally pays her millions,...",2017-05-13
7632,s7633,Movie,Wine Country,Amy Poehler,"Amy Poehler, Maya Rudolph, Ana Gasteyer, Rache...",United States,"May 10, 2019",2019.0,R,104 min,Comedies,When longtime friends meet up for a wine-soake...,2019-05-10
7662,s7663,Movie,Work It,Laura Terruso,"Sabrina Carpenter, Jordan Fisher, Liza Koshy, ...",United States,"August 7, 2020",2020.0,TV-14,94 min,Comedies,A brilliant but clumsy high school senior vows...,2020-08-07

In [43]:
data[(data['type'] == 'Movie') & (data['listed_in']== 'Comedies') | (data['country'] == 'United Kingdom')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N
19,s20,Movie,'89,NaN,"Lee Dixon, Ian Wright, Paul Merson",United Kingdom,"May 16, 2018",2018.0,TV-PG,87 min,Sports Movies,"Mixing old footage with interviews, this is th...",2018-05-16
33,s34,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017.0,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,2017-09-08
58,s59,TV Show,100% Hotter,NaN,"Daniel Palmer, Melissa Sophia, Karen Williams,...",United Kingdom,"November 1, 2019",2019.0,TV-14,1 Season,"British TV Shows, International TV Shows, Real...","A stylist, a hair designer and a makeup artist...",2019-11-01
72,s73,Movie,17 Again,Burr Steers,"Zac Efron, Leslie Mann, Matthew Perry, Thomas ...",United States,"January 1, 2021",2021.0,PG-13,102 min,Comedies,"Nearing a midlife crisis, thirty-something Mik...",2021-01-01
82,s83,Movie,2036 Origin Unknown,Hasraf Dulull,"Katee Sackhoff, Ray Fearon, Julie Cox, Steven ...",United Kingdom,"December 20, 2018",2018.0,TV-14,95 min,Sci-Fi & Fantasy,Working with an artificial intelligence to inv...,2018-12-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7668,s7669,TV Show,World War II in Colour,NaN,Robert Powell,United Kingdom,"August 1, 2017",2017.0,TV-MA,1 Season,"British TV Shows, Docuseries, International TV...",Footage of the most dramatic moments from Worl...,2017-08-01
7669,s7670,TV Show,World's Busiest Cities,NaN,"Anita Rani, Ade Adepitan, Dan Snow",United Kingdom,"February 1, 2019",2019.0,TV-PG,1 Season,"British TV Shows, Docuseries","From Moscow to Mexico City, three BBC journali...",2019-02-01
7686,s7687,Movie,XV: Beyond the Tryline,Pierre Deschamps,NaN,United Kingdom,"March 18, 2020",2020.0,TV-14,91 min,"Documentaries, Sports Movies","Set against the 2015 Rugby World Cup, this doc...",2020-03-18
7723,s7724,Movie,You Can Tutu,James Brown,"Lily O'Regan, Jeannettsy Enriquez Borges, Joel...",United Kingdom,"December 31, 2017",2017.0,TV-G,87 min,Children & Family Movies,A gifted young ballet dancer struggles to find...,2017-12-31
7738,s7739,TV Show,Young Wallander,NaN,"Adam Pålsson, Richard Dillane, Leanne Best, El...",United Kingdom,"September 3, 2020",2020.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","An incendiary hate crime stirs civil unrest, f...",2020-09-03

In [44]:
#In how many movies/shows, Tom Cruise was cast
data.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020.0,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016.0,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23

In [48]:
#filtering
data[data['cast'] =='Tom Cruise']

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, Date_N]
Index: []

In [49]:
data[data['cast'].str.contains('Tom Cruise')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [50]:
data_new = data.dropna() #creating new data frame

In [51]:
data_new.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016.0,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2018.0,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018-12-20

In [52]:
data_new[data_new['cast'].str.contains('Tom Cruise')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N
3860,s3861,Movie,Magnolia,Paul Thomas Anderson,"Jeremy Blackman, Tom Cruise, Melinda Dillon, A...",United States,"January 1, 2020",2020.0,R,189 min,"Dramas, Independent Movies","Through chance, human action, past history and...",2020-01-01
5070,s5071,Movie,Rain Man,Barry Levinson,"Dustin Hoffman, Tom Cruise, Valeria Golino, Ge...",United States,"July 1, 2019",2019.0,R,134 min,"Classic Movies, Dramas",A fast-talking yuppie is forced to slow down w...,2019-07-01

In [53]:
#different ratngs defined by Netflix
data['rating'].nunique()

14

In [54]:
data['rating'].unique()

array(['TV-MA', 'R', 'PG-13', 'TV-14', 'TV-PG', 'NR', 'TV-G', 'TV-Y', nan,
       'TV-Y7', 'PG', 'G', 'NC-17', 'TV-Y7-FV', 'UR'], dtype=object)

In [55]:
#how many movies got the 'TV-14' rating, in Canada?
data[(data['type'] == 'Movie') & (data['rating'] == 'TV-14')].shape

(1272, 13)

In [56]:
data[(data['type'] == 'Movie') & (data['rating'] == 'TV-14') & (data['country'] == 'Canada')].shape

(11, 13)

In [57]:
#how many TV show got 'R' rating after year 2016?
data[(data['type'] == 'TV Show') & (data['rating'] == 'R')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N
4497,s4498,TV Show,Nobel,NaN,"Aksel Hennie, Tuva Novotny, Anders Danielsen L...",Norway,"December 10, 2016",2016.0,R,1 Season,"International TV Shows, TV Dramas, TV Thrillers",A series of incidents in Afghanistan set compl...,2016-12-10
6435,s6436,TV Show,The Hateful Eight: Extended Version,Quentin Tarantino,"Samuel L. Jackson, Kurt Russell, Jennifer Jaso...",NaN,"April 25, 2019",2019.0,R,1 Season,TV Shows,Trapped at a stagecoach stop as a storm rages ...,2019-04-25

In [58]:
data[(data['type'] == 'TV Show') & (data['rating'] == 'R') & (data['release_year'] > 2016)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N
6435,s6436,TV Show,The Hateful Eight: Extended Version,Quentin Tarantino,"Samuel L. Jackson, Kurt Russell, Jennifer Jaso...",NaN,"April 25, 2019",2019.0,R,1 Season,TV Shows,Trapped at a stagecoach stop as a storm rages ...,2019-04-25

In [59]:
#How many TV shows got 'R' rating after the year 2018?
data[(data['type']=='TV Show') & (data['rating'] == 'R')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N
4497,s4498,TV Show,Nobel,NaN,"Aksel Hennie, Tuva Novotny, Anders Danielsen L...",Norway,"December 10, 2016",2016.0,R,1 Season,"International TV Shows, TV Dramas, TV Thrillers",A series of incidents in Afghanistan set compl...,2016-12-10
6435,s6436,TV Show,The Hateful Eight: Extended Version,Quentin Tarantino,"Samuel L. Jackson, Kurt Russell, Jennifer Jaso...",NaN,"April 25, 2019",2019.0,R,1 Season,TV Shows,Trapped at a stagecoach stop as a storm rages ...,2019-04-25

In [60]:
data[(data['type']=='TV Show') & (data['rating'] == 'R') & (data['release_year'] > 2018)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N
6435,s6436,TV Show,The Hateful Eight: Extended Version,Quentin Tarantino,"Samuel L. Jackson, Kurt Russell, Jennifer Jaso...",NaN,"April 25, 2019",2019.0,R,1 Season,TV Shows,Trapped at a stagecoach stop as a storm rages ...,2019-04-25

In [61]:
#Maximum duration of a movie/show on netflix
data['duration'].unique()

array(['4 Seasons', '93 min', '78 min', '80 min', '123 min', '1 Season',
       '95 min', '119 min', '118 min', '143 min', '103 min', '89 min',
       '91 min', '149 min', '144 min', '124 min', '87 min', '110 min',
       '128 min', '117 min', '100 min', '2 Seasons', '84 min', '99 min',
       '90 min', '102 min', '104 min', '105 min', '56 min', '125 min',
       '81 min', '97 min', '106 min', '107 min', '109 min', '44 min',
       '75 min', '101 min', '3 Seasons', '37 min', '113 min', '114 min',
       '130 min', '94 min', '140 min', '135 min', '82 min', '70 min',
       '121 min', '92 min', '164 min', '53 min', '83 min', '116 min',
       '86 min', '120 min', '96 min', '126 min', '129 min', '77 min',
       '137 min', '148 min', '28 min', '122 min', '176 min', '85 min',
       '22 min', '68 min', '111 min', '29 min', '142 min', '168 min',
       '21 min', '59 min', '20 min', '98 min', '108 min', '76 min',
       '26 min', '156 min', '30 min', '57 min', '150 min', '133 min',
       '115 min', '154 min', '127 min', '146 min', '136 min', '88 min',
       '131 min', '24 min', '112 min', '74 min', '63 min', '38 min',
       '25 min', '174 min', '60 min', '153 min', '158 min', '151 min',
       '162 min', '54 min', '51 min', '69 min', '64 min', '147 min',
       '42 min', '79 min', '5 Seasons', '40 min', '45 min', '172 min',
       '10 min', '163 min', '9 Seasons', '55 min', '72 min', '61 min',
       '71 min', '160 min', '171 min', '48 min', '139 min', '157 min',
       '15 min', '65 min', '134 min', '161 min', '62 min', '8 Seasons',
       '186 min', '49 min', '73 min', '58 min', '165 min', '166 min',
       '138 min', '159 min', '141 min', '132 min', '52 min', '67 min',
       '34 min', '66 min', '312 min', '180 min', '47 min', '6 Seasons',
       '155 min', '14 min', '177 min', '11 min', '9 min', '46 min',
       '145 min', '11 Seasons', '7 Seasons', '13 Seasons', '8 min',
       '12 min', '12 Seasons', '10 Seasons', '43 min', '50 min', '23 min',
       '185 min', '200 min', '169 min', '27 min', '170 min', '196 min',
       '33 min', '181 min', '204 min', '32 min', '35 min', '167 min',
       '16 Seasons', '179 min', '193 min', '13 min', '214 min', '17 min',
       '173 min', '192 min', '209 min', '187 min', '41 min', '182 min',
       '224 min', '233 min', '189 min', '152 min', '19 min', '15 Seasons',
       '208 min', '237 min', '31 min', '178 min', '230 min', '194 min',
       '228 min', '195 min', '3 min', '16 min', '5 min', '18 min',
       '205 min', '190 min', '36 min', '201 min', '253 min', '203 min',
       '191 min'], dtype=object)

In [62]:
data.duration.dtypes

dtype('O')

In [66]:
data[['minutes','unit']] = data['duration'].str.split(' ', expand = True)

In [67]:
data.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N,minutes,unit
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020.0,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,4,Seasons
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016.0,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,93,min

In [69]:
data['minutes'].max()

'99'

In [70]:
data['minutes'].min()

'1'

In [71]:
data['minutes'].mean()

inf

In [72]:
data.dtypes

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added              object
release_year           float64
rating                  object
duration                object
listed_in               object
description             object
Date_N          datetime64[ns]
minutes                 object
unit                    object
dtype: object

In [73]:
#which country having highest number of TV shows
data_tvshow = data[data['type'] == 'TV Show']

In [74]:
data_tvshow.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N,minutes,unit
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020.0,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,4,Seasons
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2017.0,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...,2017-07-01,1,Season

In [75]:
data_tvshow.country.value_counts()

United States                                                705
United Kingdom                                               204
Japan                                                        157
South Korea                                                  147
India                                                         71
                                                            ...
Canada, United States, United Kingdom, France, Luxembourg      1
United States, Italy                                           1
Chile, Italy                                                   1
Canada, United Kingdom                                         1
United States, France, South Korea, Indonesia                  1
Name: country, Length: 183, dtype: int64

In [77]:
data_tvshow.country.value_counts().head(1)

United States    705
Name: country, dtype: int64

In [78]:
#Sorting dataset by year
data.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N,minutes,unit
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020.0,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14,4,Seasons
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016.0,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23,93,min

In [85]:
data.sort_values(by = 'release_year').head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N,minutes,unit
1765,s1766,TV Show,Dinner for Five,NaN,NaN,United States,"February 4, 2008",2008.0,TV-MA,1 Season,Stand-Up Comedy & Talk Shows,"In each episode, four celebrities join host Jo...",2008-02-04,1,Season
7113,s7114,Movie,To and From New York,Sorin Dan Mihalcescu,"Barbara King, Shaana Diya, John Krisiukenas, Y...",United States,"January 1, 2008",2008.0,TV-MA,81 min,"Dramas, Independent Movies, Thrillers","While covering a story in New York City, a Sea...",2008-01-01,81,min
3248,s3249,Movie,Just Another Love Story,Ole Bornedal,"Anders W. Berthelsen, Rebecka Hemse, Nikolaj L...",Denmark,"May 5, 2009",2009.0,TV-MA,104 min,"Dramas, International Movies",When he causes a car accident that leaves a yo...,2009-05-05,104,min
5765,s5766,Movie,Splatter,Joe Dante,"Corey Feldman, Tony Todd, Tara Leigh, Erin Way...",United States,"November 18, 2009",2009.0,TV-MA,29 min,Horror Movies,"After committing suicide, a washed-up rocker r...",2009-11-18,29,min
3840,s3841,Movie,Mad Ron's Prevues from Hell,Jim Monaco,"Nick Pawlow, Jordu Schell, Jay Kushwara, Micha...",United States,"November 1, 2010",2010.0,NR,84 min,"Cult Movies, Horror Movies","This collection cherry-picks trailers, forgott...",2010-11-01,84,min
232,s233,Movie,A Stoning in Fulham County,Larry Elikann,"Ken Olin, Jill Eikenberry, Maureen Mueller, Gr...",United States,"October 1, 2011",2011.0,TV-14,95 min,Dramas,"After reckless teens kill an Amish child, a pr...",2011-10-01,95,min
5832,s5833,Movie,Strange Voices,Arthur Allan Seidelman,"Nancy McKeon, Valerie Harper, Stephen Macht, T...",United States,"October 1, 2011",2011.0,TV-PG,96 min,Dramas,When their college-age daughter suddenly begin...,2011-10-01,96,min
7149,s7150,Movie,Too Young the Hero,Buzz Kulik,"Ricky Schroder, Jon DeVries, Debra Mooney, Mar...",United States,"October 1, 2011",2011.0,TV-MA,94 min,Dramas,Twelve-year-old Calvin manages to join the nav...,2011-10-01,94,min
308,s309,Movie,Adam: His Song Continues,Robert Markowitz,"Daniel J. Travanti, JoBeth Williams, Richard M...",United States,"October 1, 2011",2011.0,TV-MA,96 min,Dramas,"After their child was abducted and murdered, J...",2011-10-01,96,min
2962,s2963,Movie,In Defense of a Married Man,Joel Oliansky,"Judith Light, Michael Ontkean, Jerry Orbach, P...",United States,"October 1, 2011",2011.0,TV-14,94 min,Dramas,A lawyer's husband is having an affair. When h...,2011-10-01,94,min

In [84]:
data.sort_values(by = 'release_year', ascending = False).head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N,minutes,unit
7351,s7352,Movie,Unknown,Jaume Collet-Serra,"Liam Neeson, Diane Kruger, January Jones, Aida...","United Kingdom, Germany, France, United States","January 1, 2021",2021.0,PG-13,113 min,"Action & Adventure, Thrillers",Liam Neeson stars as a man who regains conscio...,2021-01-01,113,min
2013,s2014,Movie,Enter the Dragon,Robert Clouse,"Bruce Lee, John Saxon, Jim Kelly, Ahna Capri, ...","Hong Kong, United States","January 1, 2021",2021.0,R,103 min,"Action & Adventure, Classic Movies","Recruited by a British agent, Shaolin master L...",2021-01-01,103,min
2349,s2350,Movie,Gangaajal,Prakash Jha,"Ajay Devgn, Gracy Singh, Mohan Agashe, Mohan J...",India,"January 8, 2021",2021.0,TV-MA,148 min,"Dramas, International Movies","Posted to a small, crime-ridden town, a cop so...",2021-01-08,148,min
1194,s1195,Movie,Can't Hardly Wait,"Harry Elfont, Deborah Kaplan","Jennifer Love Hewitt, Ethan Embry, Charlie Kor...",United States,"January 1, 2021",2021.0,PG-13,101 min,"Comedies, Romantic Movies","At a wild high school graduation party, aspiri...",2021-01-01,101,min
1497,s1498,Movie,Cool Hand Luke,Stuart Rosenberg,"Paul Newman, George Kennedy, J.D. Cannon, Lou ...",United States,"January 1, 2021",2021.0,TV-14,127 min,"Classic Movies, Dramas","Luke Jackson likes to do things his own way, w...",2021-01-01,127,min
104,s105,Movie,30 Minutes or Less,Ruben Fleischer,"Jesse Eisenberg, Danny McBride, Aziz Ansari, N...",United States,"January 1, 2021",2021.0,R,83 min,"Action & Adventure, Comedies",Two crooks planning a bank heist wind up abduc...,2021-01-01,83,min
692,s693,Movie,Bad Grandpa .5,Jeff Tremaine,"Johnny Knoxville, Jackson Nicoll, Greg Harris,...",United States,"January 1, 2021",2021.0,TV-MA,87 min,Comedies,The geriatric antics of Irving Zisman continue...,2021-01-01,87,min
5138,s5139,Movie,Redemption,Steven Knight,"Jason Statham, Agata Buzek, Vicky McClure, Ben...","United Kingdom, United States","January 1, 2021",2021.0,R,100 min,"Action & Adventure, Dramas, International Movies",An Afghanistan veteran haunted by his dark pas...,2021-01-01,100,min
3521,s3522,Movie,Lagaan,Ashutosh Gowariker,"Aamir Khan, Gracy Singh, Rachel Shelley, Paul ...",India,"January 10, 2021",2021.0,PG,224 min,"Dramas, International Movies, Music & Musicals","In 1890s India, an arrogant British commander ...",2021-01-10,224,min
5520,s5521,Movie,Sex and the City 2,Michael Patrick King,"Sarah Jessica Parker, Kim Cattrall, Cynthia Ni...",United States,"January 1, 2021",2021.0,R,146 min,"Comedies, Dramas, Romantic Movies","Best friends Carrie, Miranda, Samantha and Cha...",2021-01-01,146,min

In [91]:
#finding all instances where 
#1. category is 'movie' and type is 'dramas'
#2. category is 'TV show' and type is 'dramas'
data[(data['type']=='Movie') & (data['listed_in'] == 'Dramas')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N,minutes,unit
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2020.0,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,123,min
7,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",2019.0,R,119 min,Dramas,After one of his high school students attacks ...,2019-11-01,119,min
170,s171,Movie,A Family Man,Mark Williams,"Gerard Butler, Gretchen Mol, Alison Brie, Will...","Canada, United States","December 15, 2019",2019.0,R,110 min,Dramas,A ruthless corporate headhunter battles his ri...,2019-12-15,110,min
232,s233,Movie,A Stoning in Fulham County,Larry Elikann,"Ken Olin, Jill Eikenberry, Maureen Mueller, Gr...",United States,"October 1, 2011",2011.0,TV-14,95 min,Dramas,"After reckless teens kill an Amish child, a pr...",2011-10-01,95,min
295,s296,Movie,Across Grace Alley,Ralph Macchio,"Ben Hyland, Marsha Mason, Karina Smirnoff, Col...",United States,"December 1, 2016",2016.0,TV-PG,24 min,Dramas,"A young boy, upset by his parents' divorce, be...",2016-12-01,24,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7415,s7416,Movie,Victor,Brandon Dickerson,"Patrick Davis, Lisa Vidal, Josh Pence, José Zú...",United States,"July 24, 2017",2017.0,PG-13,110 min,Dramas,"In 1962 Brooklyn, a Puerto Rican teen who join...",2017-07-24,110,min
7420,s7421,Movie,Villain,Philip Barantini,"Craig Fairbrass, George Russo, Robert Gleniste...",United Kingdom,"September 5, 2020",2020.0,R,97 min,Dramas,"Fresh out of prison, an ex-con tries to save h...",2020-09-05,97,min
7447,s7448,Movie,VS.,Ed Lilly,"Connor Swindells, Fola Evans-Akingbola, Nichol...",United Kingdom,"June 19, 2019",2019.0,TV-MA,99 min,Dramas,A young man in foster care finds his voice in ...,2019-06-19,99,min
7463,s7464,Movie,Wakefield,Robin Swicord,"Bryan Cranston, Jennifer Garner, Jason O'Mara,...",United States,"March 2, 2019",2019.0,R,109 min,Dramas,An unhappy father and lawyer quits his suburba...,2019-03-02,109,min
7478,s7479,Movie,War Horse,Steven Spielberg,"Emily Watson, David Thewlis, Peter Mullan, Nie...","United States, India","May 6, 2019",2019.0,PG-13,147 min,Dramas,"During World War I, the bond between a young E...",2019-05-06,147,min

In [100]:
data[(data['type']=='TV Show') & (data['listed_in'] == 'TV Dramas')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N,minutes,unit
259,s260,TV Show,A.D. Kingdom and Empire,NaN,"Juan Pablo Di Pace, Adam Levy, Chipo Chung, Ba...",United States,"December 15, 2017",2017.0,TV-14,1 Season,TV Dramas,"In the wake of Jesus Christ's crucifixion, his...",2017-12-15,1,Season
1802,s1803,TV Show,Dolly Parton's Heartstrings,NaN,"Dolly Parton, Julianne Hough, Kimberly William...",United States,"November 22, 2019",2019.0,TV-14,1 Season,TV Dramas,"Eight stories celebrating family, faith, love ...",2019-11-22,1,Season
1900,s1901,TV Show,Dynasty,NaN,"Elizabeth Gillies, Nathalie Kelley, Grant Show...",United States,"May 23, 2020",2020.0,TV-14,3 Seasons,TV Dramas,The Carringtons and the Colbys feud for contro...,2020-05-23,3,Seasons
2051,s2052,TV Show,Evil,NaN,"Katja Herbers, Mike Colter, Aasif Mandvi, Mich...",United States,"October 1, 2020",2020.0,TV-14,1 Season,TV Dramas,A forensic psychologist partners with a Cathol...,2020-10-01,1,Season
2457,s2458,TV Show,Godless,NaN,"Jeff Daniels, Michelle Dockery, Jack O'Connell...",United States,"November 22, 2017",2017.0,TV-MA,1 Season,TV Dramas,A ruthless outlaw terrorizes the West in searc...,2017-11-22,1,Season
2535,s2536,TV Show,Greenleaf,NaN,"Merle Dandridge, Kim Hawthorne, Desiree Ross, ...",United States,"September 10, 2020",2020.0,TV-14,5 Seasons,TV Dramas,Although members of the Greenleaf family run a...,2020-09-10,5,Seasons
2562,s2563,TV Show,Gypsy,NaN,"Naomi Watts, Billy Crudup, Sophie Cookson, Kar...","United States, United Kingdom","June 30, 2017",2017.0,TV-MA,1 Season,TV Dramas,Therapist Jean Holloway develops dangerous and...,2017-06-30,1,Season
2587,s2588,TV Show,Halt and Catch Fire,NaN,"Lee Pace, Scoot McNairy, Mackenzie Davis, Kerr...",United States,"December 14, 2017",2017.0,TV-14,4 Seasons,TV Dramas,Re-creating the dawn of the personal computer ...,2017-12-14,4,Seasons
2678,s2679,TV Show,Heartland,NaN,"Amber Marshall, Michelle Morgan, Graham Wardle...",Canada,"August 1, 2019",2019.0,TV-14,11 Seasons,TV Dramas,Spunky teenager Amy is reeling from the sudden...,2019-08-01,11,Seasons
2739,s2740,TV Show,Highway to Heaven,NaN,"Michael Landon, Victor French",United States,"November 1, 2016",2016.0,TV-PG,5 Seasons,TV Dramas,"Under God's direction, angel Jonathan and ex-c...",2016-11-01,5,Seasons
2777,s2778,TV Show,Hollywood,NaN,"David Corenswet, Darren Criss, Patti LuPone, J...",United States,"May 1, 2020",2020.0,TV-MA,1 Season,TV Dramas,"In post-World War II Hollywood, an ambitious g...",2020-05-01,1,Season
3401,s3402,TV Show,Kingdom,NaN,"Frank Grillo, Kiele Sanchez, Matt Lauria, Jona...",United States,"July 1, 2020",2020.0,TV-MA,3 Seasons,TV Dramas,"Struggling to keep his training center afloat,...",2020-07-01,3,Seasons
3421,s3422,TV Show,Knightfall,NaN,"Tom Cullen, Jim Carter, Pádraic Delaney, Simon...",United States,"August 13, 2019",2019.0,TV-MA,2 Seasons,TV Dramas,Fifteen years after the Crusades ended in defe...,2019-08-13,2,Seasons
3631,s3632,TV Show,Life Sentence,NaN,Lucy Hale,United States,"June 23, 2018",2018.0,TV-14,1 Season,TV Dramas,"Cured of what she thought was terminal cancer,...",2018-06-23,1,Season
3838,s3839,TV Show,Mad Men,NaN,"Jon Hamm, Elisabeth Moss, Vincent Kartheiser, ...",United States,"March 22, 2015",2015.0,TV-14,7 Seasons,TV Dramas,"Set in 1960s New York City, this award-winning...",2015-03-22,7,Seasons
3844,s3845,TV Show,Madam Secretary,NaN,"Téa Leoni, Tim Daly, Bebe Neuwirth, Zeljko Iva...",United States,"May 15, 2020",2020.0,TV-PG,6 Seasons,TV Dramas,When a highly capable woman becomes secretary ...,2020-05-15,6,Seasons
4513,s4514,TV Show,Northern Rescue,NaN,"William Baldwin, Kathleen Robertson, Spencer M...",Canada,"March 1, 2019",2019.0,TV-14,1 Season,TV Dramas,"After the sudden death of his wife, search and...",2019-03-01,1,Season
4914,s4915,TV Show,Pose,NaN,"Mj Rodriguez, Billy Porter, Evan Peters, Kate ...",United States,"June 11, 2020",2020.0,TV-MA,2 Seasons,TV Dramas,"In 1987 New York, LGBTQ ball fixture Blanca st...",2020-06-11,2,Seasons
5146,s5147,TV Show,Reign,NaN,"Adelaide Kane, Megan Follows, Torrance Coombs,...",United States,"September 5, 2017",2017.0,TV-14,4 Seasons,TV Dramas,This vivid historical drama series tells of th...,2017-09-05,4,Seasons
5486,s5487,TV Show,Selena: The Series,NaN,"Christian Serratos, Gabriel Chavarria, Ricardo...","Mexico, United States","December 4, 2020",2020.0,TV-PG,1 Season,TV Dramas,Iconic Mexican-American performer Selena rises...,2020-12-04,1,Season
5487,s5488,TV Show,Self Made: Inspired by the Life of Madam C.J. ...,NaN,"Octavia Spencer, Tiffany Haddish, Carmen Ejogo...",United States,"March 20, 2020",2020.0,TV-MA,1 Season,TV Dramas,An African American washerwoman rises from pov...,2020-03-20,1,Season
5536,s5537,TV Show,Shaka Zulu,NaN,"Edward Fox, Robert Powell, Trevor Howard, Fion...","Italy, South Africa, West Germany, Australia, ...","January 10, 2019",2019.0,TV-14,1 Season,TV Dramas,This miniseries recounts the early 19th-centur...,2019-01-10,1,Season
5755,s5756,TV Show,Spinning Out,NaN,"Kaya Scodelario, January Jones, Will Kemp, Wil...",United States,"January 1, 2020",2020.0,TV-MA,1 Season,TV Dramas,A figure skating Olympic hopeful struggles to ...,2020-01-01,1,Season
5972,s5973,TV Show,Tales of the City,NaN,"Laura Linney, Ellen Page, Olympia Dukakis, Pau...",United States,"June 7, 2019",2019.0,TV-MA,1 Season,TV Dramas,Returning to San Francisco after a long absenc...,2019-06-07,1,Season
5973,s5974,TV Show,Tales of the City (1993),NaN,"Olympia Dukakis, Donald Moffat, Laura Linney, ...","United Kingdom, United States","June 28, 2019",2019.0,TV-MA,1 Season,TV Dramas,"In 1976, naive Mary Ann Singleton moves to San...",2019-06-28,1,Season
6157,s6158,TV Show,The Borgias,NaN,"Jeremy Irons, François Arnaud, Holliday Graing...","United States, Hungary, Ireland, Canada","February 1, 2014",2014.0,TV-MA,3 Seasons,TV Dramas,Follow the lives of the notorious Borgia famil...,2014-02-01,3,Seasons
6372,s6373,TV Show,The Fosters,NaN,"Teri Polo, Sherri Saum, Jake T. Austin, Hayden...",United States,"October 5, 2017",2017.0,TV-14,5 Seasons,TV Dramas,This offbeat drama charts the ups and downs of...,2017-10-05,5,Seasons
6388,s6389,TV Show,The Get Down,NaN,"Justice Smith, Shameik Moore, Herizen Guardiol...",United States,"April 7, 2017",2017.0,TV-MA,2 Seasons,TV Dramas,"In 1977 New York City, the talented and soulfu...",2017-04-07,2,Seasons
6710,s6711,TV Show,The Night Shift,NaN,"Eoin Macken, Jill Flint, Freddy Rodríguez, Ken...",United States,"June 7, 2018",2018.0,TV-14,4 Seasons,TV Dramas,"After returning from a dangerous tour of duty,...",2018-06-07,4,Seasons
6796,s6797,TV Show,The Queen's Gambit,NaN,"Anya Taylor-Joy, Bill Camp, Marielle Heller, T...",United States,"October 23, 2020",2020.0,TV-MA,1 Season,TV Dramas,"In a 1950s orphanage, a young girl reveals an ...",2020-10-23,1,Season
6950,s6951,TV Show,The Tudors,NaN,"Jonathan Rhys Meyers, Henry Cavill, James Frai...","Ireland, Canada, United States, United Kingdom","January 8, 2018",2018.0,TV-MA,4 Seasons,TV Dramas,All the splendor and scandal of England's 16th...,2018-01-08,4,Seasons
6996,s6997,TV Show,The West Wing,NaN,"Martin Sheen, Rob Lowe, Allison Janney, John S...",United States,"December 25, 2015",2015.0,TV-14,7 Seasons,TV Dramas,This powerful political epic chronicles the tr...,2015-12-25,7,Seasons
7274,s7275,TV Show,TURN: Washington's Spies,NaN,"Jamie Bell, Seth Numrich, Daniel Henshall, Hea...",United States,"December 1, 2017",2017.0,TV-14,4 Seasons,TV Dramas,"Set in 1778, this period drama recounts the st...",2017-12-01,4,Seasons
7578,s7579,TV Show,When Calls the Heart,NaN,"Erin Krakow, Daniel Lissing, Lori Loughlin, Ma...",United States,"December 29, 2018",2018.0,TV-PG,5 Seasons,TV Dramas,"Leaving behind her upper-crust city roots, a w...",2018-12-29,5,Seasons

In [105]:
data[(data['type']=='Movie') & (data['listed_in'] == 'Dramas') | (data['type']=='TV Show') & (data['listed_in'] == 'TV Dramas')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date_N,minutes,unit
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2020.0,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,123,min
7,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",2019.0,R,119 min,Dramas,After one of his high school students attacks ...,2019-11-01,119,min
170,s171,Movie,A Family Man,Mark Williams,"Gerard Butler, Gretchen Mol, Alison Brie, Will...","Canada, United States","December 15, 2019",2019.0,R,110 min,Dramas,A ruthless corporate headhunter battles his ri...,2019-12-15,110,min
232,s233,Movie,A Stoning in Fulham County,Larry Elikann,"Ken Olin, Jill Eikenberry, Maureen Mueller, Gr...",United States,"October 1, 2011",2011.0,TV-14,95 min,Dramas,"After reckless teens kill an Amish child, a pr...",2011-10-01,95,min
259,s260,TV Show,A.D. Kingdom and Empire,NaN,"Juan Pablo Di Pace, Adam Levy, Chipo Chung, Ba...",United States,"December 15, 2017",2017.0,TV-14,1 Season,TV Dramas,"In the wake of Jesus Christ's crucifixion, his...",2017-12-15,1,Season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7420,s7421,Movie,Villain,Philip Barantini,"Craig Fairbrass, George Russo, Robert Gleniste...",United Kingdom,"September 5, 2020",2020.0,R,97 min,Dramas,"Fresh out of prison, an ex-con tries to save h...",2020-09-05,97,min
7447,s7448,Movie,VS.,Ed Lilly,"Connor Swindells, Fola Evans-Akingbola, Nichol...",United Kingdom,"June 19, 2019",2019.0,TV-MA,99 min,Dramas,A young man in foster care finds his voice in ...,2019-06-19,99,min
7463,s7464,Movie,Wakefield,Robin Swicord,"Bryan Cranston, Jennifer Garner, Jason O'Mara,...",United States,"March 2, 2019",2019.0,R,109 min,Dramas,An unhappy father and lawyer quits his suburba...,2019-03-02,109,min
7478,s7479,Movie,War Horse,Steven Spielberg,"Emily Watson, David Thewlis, Peter Mullan, Nie...","United States, India","May 6, 2019",2019.0,PG-13,147 min,Dramas,"During World War I, the bond between a young E...",2019-05-06,147,min
7578,s7579,TV Show,When Calls the Heart,NaN,"Erin Krakow, Daniel Lissing, Lori Loughlin, Ma...",United States,"December 29, 2018",2018.0,TV-PG,5 Seasons,TV Dramas,"Leaving behind her upper-crust city roots, a w...",2018-12-29,5,Seasons